.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
__pycache__/
.idea/
docs/_build/
.vscode
data/
PP_recipes.csv
todo.txt
a.exe
pre_splay.cpp

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover